@import url('https://fonts.googleapis.com/css2?family=Liter&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(50, 50, 50);
}

html {
    font-size: 16px;
}

body {
    background-color: rgb(240, 240, 240);
    width: 100%;
    height: 100vh; 
    padding: 15px 0 15px 15px;
    margin: 0;
    display: flex;
}

#sidebar {
    background-color: rgb(255, 255, 255);
    width: 340px;
    height: 100%;
    border-radius: 10px;
    padding: 30px 30px 0 30px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 1.3rem;
    font-weight: 700;
}


nav {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

button {
    cursor: pointer;
}

.category-btn, #add-category {
    margin: 0 0 10px 0;
}

.category-name, #add-bookmark {
    font-size: 1rem;
}

.caret {
    margin-left: 2px;
    padding: 4px;
    font-size: 1.3rem;
}

.subcat {
    margin: 0 0 10px 0
}

.category-btn, .subcat, #add-category, #add-bookmark {
    background-color: transparent;
    border: none;
    border-radius: 3px;
    padding: 5px 0 5px 5px;
    text-align: left;
    transition: background-color .3s;
}

.category-btn:hover, .subcat:hover, .category-btn.active {
    background-color: rgb(240, 240, 240);
}


#add-category {
    margin-top: 30px;
    font-size: 1rem;
}


.subcat-list {
    padding-left: 5px;
    list-style-type: none;
}

li {
    margin-bottom: 15px;
    font-weight: 400;
}

#main-content {
    flex-basis: 100%;
    padding: 0 30px 0 30px;
    margin-top: 15px;
}

#main-content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
}

h2 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 10px;
}

#bookmarks-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1.5fr));
    gap: 10px;
}

.bookmark-card {
    background-color: white;
    border-radius: 5px;
    height: 150px;
    transition: background-color .3s;
    cursor: pointer;
    padding: 10px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bookmark-card:hover {
    background-color: rgb(255, 255, 212);
}

.card-text > h3 {
    font-weight: 700;
    margin-bottom: 5px;
}

.url-text {
    font-weight: 400;
    font-size: .9rem;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card-buttons {
    margin-top: 15px;
}

.card-buttons > button {
    width: 22px;
    background-color: transparent;
    border: none;
}

svg {
    width: 100%;
    display: inline-block;
    fill: rgb(160, 160, 160);
    transition: fill .3s;
}

svg:hover, .heart-inactive {
    fill: rgb(50, 50, 50);
}


.modal-background {
    /* display: none; */
    background-color: white;
    background-color: rgba(129, 129, 129, 0.251);
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background-color: white;
    width: 500px;
    border-radius: 10px;
}

#add-bookmark-form {
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form > h1 {
    margin: -14px 0 20px 0;
}

form > div {
    width: 80%;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.1rem;
}

input {
    display: block;
    width: 100%;
    height: 30px;
    padding-left: 5px;
    font-weight: 500;
    font-size: .95rem;
}

.submit-form-btn {
    width: 120px;
    height: 50px;
    margin: 22px 0 25px 0;
    background-color: rgb(222, 222, 222);
    transition: background-color .3s;
    border: none;
    font-size: 1rem;
    font-weight: 700;
}

.submit-form-btn:hover {
    background-color: rgb(190, 190, 190);
}

.close-btn-container {
    display: flex;
}

.close-btn {
    background-color: transparent;
    border: none;
    margin: 12px 0 0 -25px;
    font-size: 1.1rem;
}

.hidden {
    display: none;
}
